.round {
    fill: #58A4B0
}

.round-focus {
    fill: #373F51
}

.summary_box {
    fill: #58A4B0
}

.summary_box-focus {
    fill: #373F51
}

.summary_text1 {
    fill: #373F51;
    stroke: #373F51
}

.summary_text1-focus {
    fill: #58A4B0;
    stroke: #58A4B0
}

.summary_text2 {
    fill: #373F51;
    stroke: #373F51
}

.summary_text2-focus {
    fill: #58A4B0;
    stroke: #58A4B0
}